@model SMECommerce.App.Models.CategoryModels.VMLogin

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg">
    <div class="wrapper-page">

        <div class="text-center">
            <img src="~/Images/Accline.jpg" class="logo-lg" style="height: 92px;" />
        </div>
            @Html.ValidationSummary(true)
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="md md-account-circle  l-h-32"></i>
                        </div>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "User Name" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <i class="md md-vpn-key  l-h-32"></i>
                        </div>
                        @*<input type="password" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" title="Please include at least 1 uppercase character, 1 lowercase character, and 1 number." required>*@
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <div class="input-group">

                        <p style="color:red">
                            @ViewBag.Message
                        </p>
                    </div>
                </div>
            </div>
            <div class="form-group text-right m-t-20">
                <div class="col-xs-12">
                    <button class="btn btn-primary btn-custom w-md waves-effect waves-light" type="submit" id="lblLogin">
                        Log In
                    </button>
                </div>
            </div>
    </div>
</div>
<script>
</script>